body {
  display: block;
  margin: auto;
  text-align: center;
}
.counter__container {
  display: grid;
  grid-template-rows: repeat(2, 60px);
  border: 1px solid black;
  width: 10%;
}
.counter__display {
  width: 1/-1;
  background-color: aqua;
  font-size: 40px;
}
